.text {
    color: black;
    font-size: 30px;
    text-align: center;
}

.inputs {
    color: blue;
    font-size: 25px;
    text-align: center;
}

#display {
    color: blue;
}

#dropdown {
    font-size: 60px;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li {
    text-align: left;
}

.nav a {
    text-decoration: none;
    display: block;
    padding-left: 15px;
    padding-right: 5px;
    border: 2px solid rgb(118, 104, 198);
    z-index: 8;
    background-color: rgb(165, 150, 245);
    display: inline block;
    position: relative;
}

.nav a:hover {
    color: white;
    text-decoration: underline;
}

.dropdown {
    visibility: hidden;
}

#main12:hover + .dropdown {
    visibility: visible;
}

.dropdown:hover {
    visibility: visible;
}

#main12 {
    text-decoration: none;
    padding-right: 5px;
    border: 2px solid rgb(118, 104, 198);
    z-index: 8;
    background-color: rgb(165, 150, 245);
    display: inline-block;
    /*position:absolute;*/
    /*left:46.2%;*/
    /*top:2.35%;*/
}

#main {
    text-decoration: none;
    border: 2px solid rgb(118, 104, 198);
    z-index: 8;
    background-color: rgb(165, 150, 245);
    display: inline-block;
    position: absolute;
    left: 53.5%;
    top: 5.47%;
}

#main12:hover {
    color: white;
    text-decoration: underline;
}

#welcome-page {
    display: inline;
    position: relative;
}

#this-class {
    display: inline;
    position: relative;
}

#html-css {
    display: inline;
    position: relative;
}

#this-class {
    display: inline;
    position: relative;
}

#c-hardware {
    display: inline;
    position: relative;
}

.hrefs {
    text-decoration: none;
    padding-right: 5px;
    border: 2px solid rgb(118, 104, 198);
    z-index: 8;
    background-color: rgb(165, 150, 245);
}

.hrefs:hover {
    color: white;
    text-decoration: underline;
}

#h1 {
    color: black;
    font-size: 50px;
    text-align: center;
}

#body {
    position: relative;
    top: 60px;
    text-align: center;
}

body {
    background-image: url("background.png");
}